@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1860px;
    margin: 8px auto;
}

.text-analytic{
    font-weight: 500;
    margin: 20px;
    padding-left: 5px;
}

.analytic{
    margin-top: 1.8rem;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 9px;
    padding: 0.2rem 1.4rem 1rem 1rem;
}
